body {
  background-color: #e5e5e5;
  font-family: 'Open Sans', Arial, serif;
}

.slider {
  width: 659px;
  height: 299px;
  margin: 200px auto;
}

.slider__radio-label {
  display: inline-block;
  padding: 5px 15px;

  border: 1px solid grey;
  border-radius: 3px;

  font-size: 16px;
  line-height: 16px;
}

.slider__radio-input {
  display: none;
}

.slider__radio-input:checked + .slider__radio-label {
  background-color: #4072FE;
  color: white;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#swatch {
  width: 250px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }